.searchBar input {
    border: 2px solid black;
    border-radius: 1.5em;
    width: 400px;
    height: 25px;
    font-weight: bold;
    font-size: large;
    
}

.searchBar {
    opacity: 0;
    margin: 30px;
    display: flex;
    justify-content: center;
    animation-name: search;
    animation-duration: 1.75s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes search {
    0% {opacity: 0;}
    100% {opacity: 1;}
}